{% load static %}

<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-lg-6 col-md-6">
            <!-- Footer Widget -->
            <div class="footer-widget footer-about">
              <div class="footer-logo ">
                <img width="200px"
                  src="{% static 'HealthStack-System/images/Normal/logo.png' %}"
                  alt="logo"
                />
              </div>
              <div class="footer-about-content">
                <p>
                 ମହୀମା ମେଡିକେୟାର ହେଉଛି ଏକ ପଲିକ୍ଲିନିକ୍, ଏକ ପଲିକ୍ଲିନିକ୍ ହେଉଛି ଏକ ପ୍ରକାର ସ୍ୱାସ୍ଥ୍ୟସେବା ସୁବିଧା ଯାହା ବିଭିନ୍ନ ପ୍ରକାରର ଚିକିତ୍ସା ସେବା ଯୋଗାଇଥାଏ, ସାଧାରଣତ outside ଜଣେ ଛାତ ତଳେ ରୋଗୀମାନଙ୍କ ପାଇଁ | ଜରୁରୀକାଳୀନ ଚିକିତ୍ସାରେ ଯତ୍ନ ନେଉଥିବା ରୋଗୀଙ୍କୁ ଏହା ଘର ସହାୟତା ଯୋଗାଇଥାଏ .24x7 ମନିଟର, ଟ୍ରାକ୍ ଏବଂ ରୋଗୀଙ୍କ ଯତ୍ନରେ ଉନ୍ନତି ଆଣିବାରେ ସାହାଯ୍ୟ କରିଥାଏ | ଏହାର ଚିକିତ୍ସା ପାଇଁ ଡାକ୍ତର ଏବଂ ପାରା medic ଷଧ ଏବଂ ସୁ-ପରିକଳ୍ପିତ ଭିତ୍ତିଭୂମି ଅଛି | ଆପଣ ଚିନ୍ତା ସହିତ ଯାଇପାରିବେ କିନ୍ତୁ ୱେଲନେସ୍ ସହିତ ବାହାରକୁ ଯାଇପାରିବେ | ଏହା ଆମର ପ୍ରତିବଦ୍ଧତା | ମହୀମା ମେଡିକେୟାର “ଆପଣଙ୍କର ହେଲଥ୍ ପାର୍ଟର୍ ” |
                </p>
                <br>
                <div class="social-icon">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/share/16vgeD3fZd/" target="_blank"
                        ><i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    
                    <li>
                      <a href="https://www.instagram.com/mahima_medicare/?utm_source=qr&igsh=MWVvcDNzMGF2cjQ5NQ%3D%3D#" target="_blank"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </li>
                  
                  </ul>
                </div>
              </div>
            </div>
            <!-- /Footer Widget -->
          </div>


          <div class="col-lg-3 col-md-6">
            <!-- Footer Widget -->
            
            <!-- /Footer Widget -->
          </div>

          <div class="col-lg-3 col-md-6">
            <!-- Footer Widget -->
            <div class="footer-widget footer-contact">
              <h2 class="footer-title">Contact Us</h2>
              <div class="footer-contact-info">
                <div class="footer-address">
                  <span><i class="fas fa-map-marker-alt"></i></span>
                  <p>
                    Mahima Medicare Bakoliya, Bajar, Orti, Cuttack, Barasahi, Odisha 754209
                  </p>
                </div>
                <p>
                  <i class="fas fa-phone-alt"></i>
                  +91 8763814619
                </p>
                <p class="mb-0">
                  <i class="fas fa-envelope"></i>
                 mahimamedicare01@gamil.com
                </p>
              </div>
            </div>
            <!-- /Footer Widget -->
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    
    <!-- /Footer Bottom -->
  </footer>